svg {
  width: 100%;
  height: 100%;
}

#logo-image {
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#header #first-item {
  display: flex;
  flex-shrink: 0;
}

#header #center-item {
  display: flex;
  width: 100%;
  max-width: 550px;
}

#header #last-item {
  display: flex;
  flex-shrink: 0;
}

#logo {
  width: 4.5rem;
  height: 2.5rem;
  margin-right: 5rem;
}

#search-form {
  display: flex;
  flex-grow: 1;
}

#search-field {
  margin-right: 1rem;
  flex-grow: 1;
}

#avatar {
  width: 3rem;
  background: none;
  border: none;
  margin-left: 3rem;
}

#body {
  display: flex;
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

#side-panel {
  display: none;
  flex-direction: column;
  justify-items: start;
  position: fixed;
  width: 15rem;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 1.5rem;
}

.small-button {
  background: none;
  border: none;
  padding: 0;
}

.side-panel-button {
  display: flex;
  margin-bottom: 1.5rem;
}

.small-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 2rem;
}

#videos {
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  background-color: rgb(250, 250, 250);
  top: 4.5rem;
  left: 0;

  width: calc(100% - 10rem);
  height: calc(100% - 4.5rem);
  max-width: 2050px;
  column-gap: 1rem;
  row-gap: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 2rem;
}

button {
  cursor: pointer;
}

@media only screen and (min-width: 550px) {
  #videos {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 880px) {
  #videos {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1140px) {
  #videos {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1320px) {
  #side-panel {
    display: flex;
  }
  #videos {
    left: 15rem;
    width: calc(100% - 25rem);
  }
}

@media only screen and (min-width: 1960px) {
  #videos {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
